PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/matapp
JWT_SECRET=change_this_to_a_long_random_secret
CLIENT_URL=http://localhost:5173

# DEMO or DARAJA
PAYMENT_MODE=DEMO

# Only needed when PAYMENT_MODE=DARAJA
MPESA_ENV=sandbox
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=174379
MPESA_PASSKEY=
MPESA_CALLBACK_URL=https://YOUR_PUBLIC_URL/api/payments/callback
MPESA_ACCOUNT_REFERENCE=MATAPP
MPESA_TRANSACTION_DESC=MatApp%20Seat%20Booking
